<!DOCTYPE html>
<html data-ng-app="listApp" data-ng-controller="listCtrl" data-ng-init="getTask(1)" lang="en">
<head>
    <meta charset="UTF-8">
    <title>etl任务列表</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/param.js"></script>
</head>
<body>

<div class="container-fluid">

    <div class="raw" style="margin: 15px 0">
        <form class="form-inline">
            <div class="col-md-3" style="padding: 0;width: 20%">
                <div class="form-group">
                    <label for="taskName">任务名：</label>
                    <input class="form-control" data-ng-model="taskNamee" id="taskName" placeholder="name">
                </div>
            </div>
            <div class="col-md-3" style="padding: 0;width: 20%">
                <div class="form-group">
                    <label for="remark">说明：</label>
                    <input class="form-control" data-ng-model="remarkk" id="remark" placeholder="remark">
                </div>
            </div>
            <div class="col-md-2" style="padding: 0">
                <button class="btn btn-default" data-ng-click="getTask(1)">查询</button>
            </div>
        </form>
    </div>

    <div class="row">
        <div class="col-md-12" style="margin: 10px 0">
            <table class="table table-hover table-bordered">
                <thead>
                <tr class="warning">
                    <td class="active">序号</td>
                    <td class="active">项目ID</td>
                    <td class="active">任务名</td>
                    <td class="active">创建时间</td>
                    <td class="active">说明</td>
                    <td class="active">操作</td>
                </tr>
                </thead>
                <tbody>
                <tr data-ng-repeat="el in tasklist">
                    <td data-ng-bind="($index+1)+5*({{nowPage-1}})"></td>
                    <td data-ng-bind="el.id"></td>
                    <td data-ng-bind="el.nodeName"></td>
                    <td data-ng-bind="el.createtime"></td>
                    <td data-ng-bind="el.remark"></td>
                    <td><button class="btn btn-link" data-ng-click="showPic(el.id,el.nodeJson,el.nodeName,el.remark)">修改</button></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <nav>
            <ul class="pager" style="margin: 0">
                <li><a href="#" data-ng-click="getTask(1)">首页</a></li>
                <li><a href="#" data-ng-click="getTask(nowPage-1)">上一页</a></li>
                <li><a href="#" data-ng-click="getTask(nowPage+1)">下一页</a></li>
                <li><a href="#" data-ng-click="getTask(lastPage)">末页</a></li>
            </ul>
        </nav>
    </div>

</div>

</body>
<script type="text/javascript">
    var navApp=angular.module("listApp",[]);
    navApp.controller("listCtrl",function($scope,$http,$filter){
        $scope.nowPage = 1;
        $scope.getTask= function (nowPage) {
            $http({
                url : CONF.ipport + '/eTLTaskManager/getTaskList',
                method : 'get',
                params : {
                    'pageNum':nowPage,
                    'taskName':$scope.taskNamee,
                    'remark':$scope.remarkk
                }
            }).then(function(data) {
                $scope.nowPage = nowPage;
                $scope.lastPage = data.data.totalPages;
                var tasklist = data.data.content;
                //时间处理
                for(var i=0;i<tasklist.length;i++){
                    tasklist[i].createtime = $filter("date")(tasklist[i].createtime, "yyyy-MM-dd HH:mm:ss");
                }
                $scope.tasklist = tasklist;
            })
        };
        $scope.showPic = function (id,nodeJson,nodeName,remark) {
            window.sessionStorage.setItem("id", id);
            window.sessionStorage.setItem("nodeJson", nodeJson);
            window.sessionStorage.setItem("nodeName", nodeName);
            window.sessionStorage.setItem("remark", remark);
            location.href="task.html";
        };
    })
</script>

</html>